In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
df1 = pd.read_csv('aquastat_flat.csv',lineterminator='\r')
df2 = pd.read_csv('as2.csv',lineterminator='\r')[:-1]
df3 = pd.read_csv('as3.csv',lineterminator='\r')[:-1]
df4 = pd.read_csv('as4.csv',lineterminator='\r')[:-1]
df5 = pd.read_csv('as5.csv',lineterminator='\r')[:-1]
df6 = pd.read_csv('as6.csv',lineterminator='\r')[:-1]
df7 = pd.read_csv('as7.csv',lineterminator='\r')[:-1]
df8 = pd.read_csv('as8.csv',lineterminator='\r')[:-1]
df9 = pd.read_csv('as9.csv',lineterminator='\r')[:-1]
df10 = pd.read_csv('as10.csv',lineterminator='\r')[:-1]
df11 = pd.read_csv('as11.csv',lineterminator='\r')[:-1]
df12 = pd.read_csv('as12.csv',lineterminator='\r')[:-1]
df13 = pd.read_csv('as13.csv',lineterminator='\r')[:-1]
df14 = pd.read_csv('as14.csv',lineterminator='\r')[:-1]

In [7]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14])

In [8]:
df.Area.replace(regex=True,inplace=True,to_replace=r'\n',value=r'')
df

,Area,Area Id,Variable Name,Variable Id,Year,Value
0,Afghanistan,2.0,% of total country area cultivated,4470.0,1982.0,12.3400
1,Afghanistan,2.0,Total population,4104.0,1982.0,12750.0000
2,Afghanistan,2.0,Rural population,4105.0,1982.0,10705.0000
3,Afghanistan,2.0,Urban population,4106.0,1982.0,2045.0000
4,Afghanistan,2.0,GDP per capita,4458.0,1981.0,272.8000
5,Afghanistan,2.0,Long-term average annual precipitation in depth,4151.0,1982.0,327.0000
6,Afghanistan,2.0,Total renewable water resources,4188.0,1982.0,65.3300
7,Albania,3.0,% of total country area cultivated,4470.0,1982.0,24.6600
8,Albania,3.0,Total population,4104.0,1982.0,2788.0000
9,Albania,3.0,Rural population,4105.0,1982.0,1806.0000
10,Albania,3.0,Urban population,4106.0,1982.0,982.0000
11,Albania,3.0,Long-term average annual precipitation in depth,4151.0,1982.0,1485.0000
12,Albania,3.0,Total renewable water resources,4188.0,1982.0,30.2000
13,Algeria,4.0,% of total country area cultivated,4470.0,1982.0,3.1530
14,Algeria,4.0,Total population,4104.0,1982.0,20576.0000
15,Algeria,4.0,Rural population,4105.0,1982.0,11168.0000
16,Algeria,4.0,Urban population,4106.0,1982.0,9408.0000
17,Algeria,4.0,GDP per capita,4458.0,1982.0,2197.0000
18,Algeria,4.0,Long-term average annual precipitation in depth,4151.0,1982.0,89.0000
19,Algeria,4.0,Total renewable water resources,4188.0,1982.0,11.6700
20,Algeria,4.0,MDG 7.5. Freshwater withdrawal as % of total r...,4275.0,1980.0,25.7100
21,Algeria,4.0,Agricultural water withdrawal as % of total re...,4273.0,1980.0,19.0200
22,Algeria,4.0,SDG 6.4.2. Water Stress,4550.0,1980.0,42.1900
23,Andorra,6.0,% of total country area cultivated,4470.0,1982.0,2.1280
24,Andorra,6.0,Total population,4104.0,1982.0,39.1100
25,Andorra,6.0,Rural population,4105.0,1982.0,2.5500
26,Andorra,6.0,Urban population,4106.0,1982.0,36.5600
27,Andorra,6.0,GDP per capita,4458.0,1982.0,9612.0000
28,Andorra,6.0,Total renewable water resources,4188.0,1982.0,0.3156
29,Angola,7.0,% of total country area cultivated,4470.0,1982.0,2.7270
...,...,...,...,...,...,...
3577,Occupied Palestinian Territory,299.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,120.0000
3578,Philippines,171.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,3180.0000
3579,Qatar,179.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,11.2200
3580,Qatar,179.0,Irrigated cropping intensity,4464.0,2016.0,100.0000
3581,Sao Tome and Principe,193.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,5.0000
3582,Saudi Arabia,194.0,Total harvested irrigated crop area (full cont...,4379.0,2014.0,954.2000
3583,Saudi Arabia,194.0,Irrigated cropping intensity,4464.0,2014.0,99.3000
3584,Slovenia,198.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,2.3540
3585,Slovenia,198.0,Irrigated cropping intensity,4464.0,2016.0,100.0000
3586,Spain,203.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,3120.0000
3587,Spain,203.0,Irrigated cropping intensity,4464.0,2016.0,138.4000
3588,Tunisia,222.0,Total harvested irrigated crop area (full cont...,4379.0,2017.0,425.0000
3589,Ukraine,230.0,Total harvested irrigated crop area (full cont...,4379.0,2016.0,329.0000
3590,Ukraine,230.0,Irrigated cropping intensity,4464.0,2016.0,100.0000
3591,United Republic of Tanzania,215.0,Total harvested irrigated crop area (full cont...,4379.0,2013.0,332.4000
3592,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Total,4520.0,2013.0,325.7000
3593,United Republic of Tanzania,215.0,Harvested irrigated permanent crop area: Total,4521.0,2013.0,6.7130
3594,United Republic of Tanzania,215.0,Irrigated cropping intensity,4464.0,2013.0,135.4000
3595,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Rice,4346.0,2013.0,71.3700
3596,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Maize,4348.0,2013.0,124.0000
3597,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Other...,4351.0,2013.0,15.4800
3598,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Veget...,4360.0,2013.0,41.7200
3599,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Other...,4355.0,2013.0,6.4000
3600,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Legum...,4359.0,2013.0,26.6300
3601,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Sugar...,4357.0,2013.0,13.3300
3602,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Cotton,4367.0,2013.0,14.7000
3603,United Republic of Tanzania,215.0,Harvested irrigated temporary crop area: Other...,4377.0,2013.0,12.0500
3604,United Republic of Tanzania,215.0,Harvested irrigated permanent crop area: Other...,4524.0,2013.0,1.3750
3605,United Republic of Tanzania,215.0,Harvested irrigated permanent crop area: Coffee,4364.0,2013.0,2.7680
3606,United Republic of Tanzania,215.0,Harvested irrigated permanent crop area: Tea,4365.0,2013.0,2.5700

In [9]:
clean_df =  pd.pivot_table(df,index = ['Area','Year'],columns = 'Variable Name', values = 'Value')
clean_df = clean_df.reset_index()

In [10]:
clean_df

Variable Name,Area,Year,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of treated municipal wastewater,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by mixed surface water and groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation drained,...,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Treated municipal wastewater discharged (secondary water),Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
0,Afghanistan,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1981.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,5124.0,NaN,NaN,NaN,NaN,2045.0,NaN,18.18
3,Afghanistan,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,5679.0,26.110,2270.0,NaN,NaN,1935.0,NaN,18.18
6,Afghanistan,1988.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,1992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,4673.0,NaN,NaN,NaN,NaN,2608.0,43.0,18.18
9,Afghanistan,1993.0,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,1995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,3554.0,NaN,NaN,NaN,NaN,3872.0,46.7,18.18
12,Afghanistan,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20.280,922.7,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,2002.0,100.00,66.71,NaN,NaN,17.99,NaN,82.01,NaN,...,55.68,65.33,2972.0,NaN,NaN,NaN,NaN,4866.0,55.9,18.18
15,Afghanistan,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Afghanistan,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Afghanistan,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,2454.0,NaN,NaN,NaN,NaN,6215.0,65.2,18.18
18,Afghanistan,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Afghanistan,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Afghanistan,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,2128.0,NaN,NaN,NaN,NaN,7596.0,74.5,18.18
21,Afghanistan,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Afghanistan,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Afghanistan,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.2,NaN
24,Afghanistan,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Afghanistan,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,1839.0,NaN,NaN,NaN,NaN,9223.0,NaN,18.18
26,Albania,1978.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Albania,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Albania,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.35,30.20,10832.0,NaN,NaN,NaN,NaN,982.0,NaN,3.30
29,Albania,1984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4499,Zambia,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4500,Zambia,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.6,NaN
4501,Zambia,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4502,Zambia,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104.80,104.80,6131.0,NaN,NaN,NaN,NaN,6931.0,NaN,24.60
4503,Zimbabwe,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4504,Zimbabwe,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,2590.0,NaN,NaN,NaN,NaN,1845.0,NaN,7.74
4505,Zimbabwe,1984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4506,Zimbabwe,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4507,Zimbabwe,1987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,2152.0,1.220,131.3,NaN,NaN,2554.0,NaN,7.74
4508,Zimbabwe,1989.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4509,Zimbabwe,1990.0,84.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4510,Zimbabwe,1991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4511,Zimbabwe,1992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,1872.0,NaN,NaN,NaN,NaN,3349.0,99.4,7.74
4512,Zimbabwe,1993.0,85.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513,Zimbabwe,1995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4514,Zimbabwe,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,1708.0,NaN,NaN,NaN,NaN,3919.0,98.9,7.74
4515,Zimbabwe,1999.0,89.66,71.41,NaN,NaN,11.53,NaN,88.47,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4516,Zimbabwe,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4517,Zimbabwe,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4518,Zimbabwe,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,...,19.00,20.00,1600.0,4.205,336.4,NaN,NaN,4372.0,98.4,7.74
4519,Zimbabwe,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4520,Zimbabwe,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,1500.0,3.570,267.8,NaN,NaN,4299.0,97.8,7.74
4521,Zimbabwe,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4522,Zimbabwe,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4523,Zimbabwe,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,1360.0,NaN,NaN,0.095,NaN,4506.0,97.3,7.74
4524,Zimbabwe,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4525,Zimbabwe,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4526,Zimbabwe,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,NaN
4527,Zimbabwe,2016.0,92.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4528,Zimbabwe,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,20.00,1210.0,NaN,NaN,NaN,NaN,5125.0,NaN,7.74

In [11]:
len(clean_df.Area.unique())

201

In [12]:
c = ['Armenia','Azerbaijan','Morocco','Algeria','Tunisia','Egypt','Turkey','Greece','Cyprus']
MENA = clean_df[clean_df.Area.isin(c)]
MENA

Variable Name,Area,Year,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of treated municipal wastewater,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by mixed surface water and groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation drained,...,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Treated municipal wastewater discharged (secondary water),Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
49,Algeria,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.000,145.8,NaN,NaN,NaN,NaN,NaN
50,Algeria,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,567.2,NaN,NaN,NaN,NaN,9408.0,NaN,0.42
51,Algeria,1984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Algeria,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.500,146.3,NaN,NaN,NaN,NaN,NaN
53,Algeria,1986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Algeria,1987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,487.9,NaN,NaN,NaN,NaN,12046.0,NaN,0.42
55,Algeria,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.500,165.6,NaN,NaN,NaN,NaN,NaN
56,Algeria,1991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Algeria,1992.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,429.3,NaN,NaN,NaN,NaN,14775.0,97.4,0.42
58,Algeria,1995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Algeria,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,390.5,NaN,NaN,NaN,NaN,17462.0,95.0,0.42
60,Algeria,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Algeria,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Algeria,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Algeria,2001.0,100.0,88.29,NaN,NaN,61.80,2.107,36.20,10.720,...,NaN,NaN,NaN,5.723,178.9,NaN,NaN,NaN,NaN,NaN
64,Algeria,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,364.7,NaN,NaN,NaN,NaN,20033.0,92.0,0.42
65,Algeria,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Algeria,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Algeria,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,340.2,NaN,NaN,NaN,NaN,22935.0,89.1,0.42
68,Algeria,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Algeria,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Algeria,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Algeria,2012.0,100.0,85.98,0.0976,NaN,68.42,1.154,30.32,NaN,...,10.150,11.670,310.7,8.425,224.3,0.324,NaN,26502.0,86.1,0.42
72,Algeria,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Algeria,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Algeria,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.3,NaN
75,Algeria,2016.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.978,241.5,NaN,NaN,NaN,NaN,NaN
76,Algeria,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.150,11.670,282.4,NaN,NaN,NaN,NaN,30165.0,NaN,0.42
159,Armenia,1992.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.858,7.769,2256.0,NaN,NaN,NaN,NaN,2307.0,98.1,0.91
160,Armenia,1994.0,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,Tunisia,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4128,Tunisia,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4129,Tunisia,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN
4130,Tunisia,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4131,Tunisia,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.420,4.615,400.2,4.875,422.7,NaN,NaN,7711.0,NaN,0.42
4132,Turkey,1978.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4133,Turkey,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,4598.0,NaN,NaN,NaN,NaN,21617.0,NaN,-15.40
4134,Turkey,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4135,Turkey,1987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,515.6,NaN,NaN,NaN,NaN,28276.0,NaN,-15.40
4136,Turkey,1990.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4137,Turkey,1992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,3796.0,31.600,566.8,NaN,NaN,33778.0,94.5,-15.40
4138,Turkey,1994.0,100.0,NaN,NaN,NaN,16.50,0.000,83.50,NaN,...,NaN,NaN,NaN,NaN,NaN,0.100,NaN,NaN,NaN,NaN
4139,Turkey,1995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4140,Turkey,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,3505.0,NaN,NaN,NaN,NaN,38143.0,95.9,-15.40
4141,Turkey,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.000,644.7,NaN,NaN,NaN,NaN,NaN
4142,Turkey,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4143,Turkey,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,3248.0,NaN,NaN,1.380,NaN,42884.0,97.4,-15.40
4144,Turkey,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.100,576.2,NaN,NaN,NaN,NaN,NaN
4145,Turkey,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.591,NaN,NaN,NaN
4146,Turkey,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4147,Turkey,2006.0,100.0,84.63,0.1838,0.1838,18.05,NaN,78.93,6.841,...,NaN,NaN,NaN,NaN,NaN,2.140,NaN,NaN,NaN,NaN
4148,Turkey,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,3040.0,NaN,NaN,NaN,NaN,47935.0,98.9,-15.40
4149,Turkey,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.010,563.4,NaN,NaN,NaN,NaN,NaN
4150,Turkey,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4151,Turkey,2012.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,2838.0,NaN,NaN,3.257,NaN,53155.0,100.0,-15.40
4152,Turkey,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153,Turkey,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154,Turkey,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN
4155,Turkey,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,58.950,730.1,3.842,NaN,NaN,NaN,NaN
4156,Turkey,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171.800,211.600,2621.0,NaN,NaN,NaN,NaN,58173.0,NaN,-15.40

In [13]:
g50r = clean_df[clean_df.count(axis = 1) >= 50]
#len(g50r.Area.unique())
g50r.groupby("Area").count().sort_values(by ='Year',ascending = False).reset_index()

Variable Name,Area,Year,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of treated municipal wastewater,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by mixed surface water and groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation drained,...,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Treated municipal wastewater discharged (secondary water),Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
0,Tunisia,8,1,1,1,0,0,0,0,0,...,8,8,8,1,1,1,0,8,5,8
1,Morocco,8,1,1,0,0,1,0,1,1,...,7,7,7,2,2,1,0,7,5,7
2,Philippines,8,4,1,1,0,1,1,1,0,...,7,7,7,1,1,0,0,7,5,7
3,Bangladesh,8,4,1,0,0,3,0,3,0,...,7,7,7,1,1,0,0,7,5,7
4,Namibia,7,2,2,0,0,2,1,2,0,...,7,7,7,1,1,0,0,7,5,7
5,United States of America,7,7,4,1,0,3,0,1,0,...,7,7,7,0,0,2,0,7,5,7
6,Algeria,7,2,1,1,0,1,1,1,0,...,7,7,7,1,1,1,0,7,5,7
7,Egypt,7,2,1,2,0,1,0,1,0,...,7,7,7,2,2,4,2,7,5,7
8,Cyprus,7,0,0,0,0,0,0,0,0,...,7,7,7,3,3,1,1,7,5,7
9,Turkey,7,1,0,0,0,0,0,0,0,...,7,7,7,1,1,2,0,7,5,7
10,Mauritius,7,1,1,0,0,1,0,1,1,...,7,7,7,0,0,2,0,7,5,7
11,India,7,2,2,0,0,2,0,2,0,...,7,7,7,0,0,0,0,7,5,7
12,Israel,7,1,0,0,0,0,0,0,0,...,7,7,7,1,1,3,2,7,5,7
13,Zimbabwe,6,0,0,0,0,0,0,0,1,...,6,6,6,3,3,1,0,6,5,6
14,Ecuador,6,1,1,0,0,1,0,1,1,...,5,5,5,1,1,0,0,5,5,5
15,Sierra Leone,6,1,1,0,0,1,0,1,0,...,6,6,6,1,1,0,0,6,5,6
16,South Africa,6,2,2,0,0,1,0,1,0,...,5,5,5,1,1,1,1,5,5,5
17,Cuba,6,2,1,0,0,2,0,2,1,...,6,6,6,1,1,1,0,6,5,6
18,Rwanda,6,2,1,0,0,0,0,0,0,...,6,6,6,0,0,0,0,6,5,6
19,Nigeria,6,0,0,0,0,0,0,0,0,...,6,6,6,1,1,0,0,6,5,6
20,Gambia,6,0,0,0,0,0,0,0,0,...,6,6,6,1,1,0,0,6,5,6
21,Paraguay,6,1,1,1,0,0,1,1,0,...,6,6,6,2,2,0,0,6,5,6
22,Guinea,6,0,0,0,0,0,0,0,0,...,6,6,6,1,1,0,0,6,5,6
23,Sri Lanka,6,1,0,0,0,0,0,0,0,...,6,6,6,0,0,0,0,6,5,6
24,Italy,6,2,2,1,0,0,0,0,0,...,6,6,6,0,0,1,0,6,5,6
25,Kenya,6,2,2,0,0,2,0,2,0,...,5,5,5,1,1,0,0,5,5,5
26,Lesotho,6,0,0,0,0,0,0,0,0,...,6,6,6,1,1,0,0,6,5,6
27,Libya,6,1,1,1,0,1,0,1,1,...,5,5,5,2,2,0,0,5,2,5
28,Mali,6,0,0,0,0,0,0,0,0,...,6,6,6,1,1,0,0,6,5,6
29,Spain,6,3,1,0,0,0,0,0,0,...,6,6,6,4,4,1,1,6,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Eswatini,2,0,1,0,0,0,0,0,0,...,2,2,2,0,0,1,0,2,2,2
135,Russian Federation,2,0,0,0,0,0,0,0,0,...,2,2,2,0,0,0,0,2,2,2
136,North Macedonia,2,0,1,0,0,0,0,0,0,...,2,2,2,2,2,0,0,2,2,2
137,Saint Kitts and Nevis,2,2,0,0,0,1,0,1,0,...,2,2,2,1,1,0,0,2,2,2
138,Oman,2,0,0,0,0,0,0,0,0,...,2,2,2,0,0,0,0,2,2,2
139,Ethiopia,2,0,0,0,0,0,0,0,0,...,2,2,2,1,1,1,1,2,2,2
140,Mozambique,2,1,1,0,0,0,0,0,0,...,2,2,2,0,0,0,0,2,1,2
141,Qatar,2,0,0,0,0,0,0,0,0,...,2,2,2,0,0,2,2,2,2,2
142,Suriname,2,0,0,0,0,0,0,0,0,...,2,2,2,1,1,0,0,2,1,2
143,Comoros,2,1,1,0,0,1,0,1,0,...,2,2,2,0,0,0,0,2,1,2
144,Antigua and Barbuda,2,1,0,0,0,1,0,1,0,...,0,2,2,1,1,0,0,2,2,2
145,Lithuania,2,2,2,0,0,0,0,0,0,...,2,2,2,1,1,0,0,2,2,2
146,Gabon,2,1,1,0,0,0,0,1,0,...,2,2,2,1,1,0,0,2,1,2
147,Bosnia and Herzegovina,2,0,0,0,0,0,0,0,0,...,2,2,2,1,1,2,2,2,2,2
148,Saudi Arabia,2,1,1,1,1,1,1,1,0,...,2,2,2,2,2,1,0,2,2,2
149,Turkmenistan,1,1,1,0,0,1,1,1,0,...,0,0,0,1,1,0,0,0,0,0
150,United Arab Emirates,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,1,1,1,1
151,Bhutan,1,1,1,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,1,1
152,Iraq,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,1,1
153,Canada,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,1,1,1
154,Somalia,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,1,0,1
155,Solomon Islands,1,1,1,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,1,1
156,Côte d'Ivoire,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,1,0,1
157,Equatorial Guinea,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,1,0,1
158,Saint Lucia,1,1,0,0,0,0,0,1,0,...,0,1,1,1,1,0,0,1,1,1
159,Puerto Rico,1,0,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,1
160,Fiji,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,1,0,1
161,Papua New Guinea,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,1,1
162,Grenada,1,1,0,0,0,0,0,1,0,...,0,1,1,0,0,0,0,1,1,1
163,Maldives,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,1,0,1

In [14]:
countries = ['Armenia','Azerbaijan','Morocco','Algeria','Tunisia','Egypt','Turkey','Greece','Cyprus']
test = g50r[g50r.Area.isin(countries)]
#test.groupby("Year").count().mean().sort_values(ascending = False)
test1 = test[test.apply(lambda x : x.Year % 5 == 2 ,axis = 1)].groupby("Year").count().mean().sort_values(ascending = False)
variables = test1[test1 > len(countries) - 4].index.values
dummy = test[['Area','Year']]
variables

array(['Water resources: total external renewable',
       'Surface water: total flow of border rivers',
       'Surface water: outflow to other countries secured through treaties',
       'Surface water: inflow submitted to treaties',
       'Surface water: inflow secured through treaties',
       'Surface water: inflow not submitted to treaties',
       'Surface water: entering the country (total)',
       'Surface water: accounted inflow',
       'Surface water: accounted flow of border rivers',
       'Surface water produced internally', 'Rural population',
       'Population density',
       'Overlap: between surface water and groundwater',
       'Overlap between surface water and groundwater',
       'Long-term average annual precipitation in volume',
       'Long-term average annual precipitation in depth',
       'Groundwater: entering the country (total)',
       'Groundwater: accounted inflow', 'Groundwater produced internally',
       'Environmental Flow Requirements', 'Dependency ratio',
       'Surface water: total external renewable', 'Area',
       'Total renewable water resources',
       'Total internal renewable water resources (IRWR)',
       'Total renewable water resources per capita', 'Urban population',
       'Total population', 'Total renewable surface water',
       'Total internal renewable water resources per capita',
       'Total renewable groundwater', 'Gross Domestic Product (GDP)',
       '% of total country area cultivated', 'GDP per capita',
       'Cultivated area (arable land + permanent crops)',
       'Total area of the country (excl. coastal waters)',
       'Arable land area', 'Permanent crops area',
       'Agriculture, value added (% GDP)',
       'Surface water: outflow to other countries submitted to treaties',
       'Surface water: leaving the country to other countries (total)',
       'Surface water: outflow to other countries not submitted to treaties',
       'Groundwater: accounted outflow to other countries',
       'Groundwater: leaving the country to other countries (total)',
       'Total exploitable water resources',
       'Exploitable: regular renewable groundwater',
       'Urban population with access to safe drinking-water (JMP)',
       'Rural population with access to safe drinking-water (JMP)',
       'Total population with access to safe drinking-water (JMP)',
       'Irrigation potential'], dtype=object)

In [15]:
goal = test[variables]
goal = goal.interpolate()
goal['Year'] = dummy['Year']
goal['Area'] = dummy['Area']
goal

Variable Name,Water resources: total external renewable,Surface water: total flow of border rivers,Surface water: outflow to other countries secured through treaties,Surface water: inflow submitted to treaties,Surface water: inflow secured through treaties,Surface water: inflow not submitted to treaties,Surface water: entering the country (total),Surface water: accounted inflow,Surface water: accounted flow of border rivers,Surface water produced internally,...,Surface water: outflow to other countries not submitted to treaties,Groundwater: accounted outflow to other countries,Groundwater: leaving the country to other countries (total),Total exploitable water resources,Exploitable: regular renewable groundwater,Urban population with access to safe drinking-water (JMP),Rural population with access to safe drinking-water (JMP),Total population with access to safe drinking-water (JMP),Irrigation potential,Year
50,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,NaN,NaN,NaN,1300.000000,1982.0
54,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,NaN,NaN,NaN,1300.000000,1987.0
57,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,97.400,85.000000,91.700000,1300.000000,1992.0
59,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,95.000,84.500000,90.500000,1300.000000,1997.0
64,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,92.000,83.700000,88.800000,1300.000000,2002.0
67,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,89.100,83.000000,87.000000,1300.000000,2007.0
71,0.42,0.00,0.0,0.0,0.0,0.39,0.39,0.39,0.00,9.760,...,0.320000,0.100000,0.100000,7.900000,1.900000,86.100,82.200000,84.900000,1300.000000,2012.0
159,0.91,1.82,0.0,0.0,0.0,0.00,0.00,0.91,0.91,3.948,...,5.280000,0.092308,0.092308,7.333846,1.769231,98.100,75.800000,90.700000,653.700000,1992.0
162,0.91,1.82,0.0,0.0,0.0,0.00,0.00,0.91,0.91,3.948,...,5.280000,0.084615,0.084615,6.767692,1.638462,98.200,77.300000,91.000000,653.700000,1997.0
166,0.91,1.82,0.0,0.0,0.0,0.00,0.00,0.91,0.91,3.948,...,5.280000,0.076923,0.076923,6.201538,1.507692,98.700,84.700000,93.700000,653.700000,2002.0
169,0.91,1.82,0.0,0.0,0.0,0.00,0.00,0.91,0.91,3.948,...,5.280000,0.069231,0.069231,5.635385,1.376923,99.000,88.350000,95.200000,659.850000,2006.0
170,0.91,1.82,0.0,0.0,0.0,0.00,0.00,0.91,0.91,3.948,...,5.280000,0.061538,0.061538,5.069231,1.246154,99.300,92.000000,96.700000,666.000000,2007.0
173,0.91,1.82,0.0,0.0,0.0,0.00,0.00,0.91,0.91,3.948,...,5.280000,0.053846,0.053846,4.503077,1.115385,99.800,99.400000,99.700000,666.000000,2012.0
235,26.56,2.36,0.0,0.0,0.0,25.38,19.76,26.56,1.18,5.955,...,4.525714,0.046154,0.046154,3.936923,0.984615,85.400,50.300000,68.900000,3200.000000,1992.0
239,26.56,2.36,0.0,0.0,0.0,25.38,19.76,26.56,1.18,5.955,...,3.771429,0.038462,0.038462,3.370769,0.853846,87.100,55.300000,71.700000,3200.000000,1997.0
242,26.56,2.36,0.0,0.0,0.0,25.38,19.76,26.56,1.18,5.955,...,3.017143,0.030769,0.030769,2.804615,0.723077,89.200,61.500000,75.800000,3200.000000,2002.0
246,26.56,2.36,0.0,0.0,0.0,25.38,19.76,26.56,1.18,5.955,...,2.262857,0.023077,0.023077,2.238462,0.592308,91.300,67.800000,80.200000,3200.000000,2007.0
249,26.56,2.36,0.0,0.0,0.0,25.38,19.76,26.56,1.18,5.955,...,1.508571,0.015385,0.015385,1.672308,0.461538,93.400,74.000000,84.500000,3200.000000,2012.0
254,26.56,2.36,0.0,0.0,0.0,25.38,19.76,26.56,1.18,5.955,...,0.754286,0.007692,0.007692,1.106154,0.330769,95.050,80.500000,88.375000,3335.555556,2017.0
991,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,96.700,87.000000,92.250000,3471.111111,1982.0
994,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,98.350,93.500000,96.125000,3606.666667,1987.0
997,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,100.000,100.000000,100.000000,3742.222222,1992.0
1001,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,100.000,100.000000,100.000000,3877.777778,1997.0
1004,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,100.000,100.000000,100.000000,4013.333333,2002.0
1008,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,100.000,100.000000,100.000000,4148.888889,2007.0
1013,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.560,...,0.000000,0.000000,0.000000,0.540000,0.200000,100.000,100.000000,100.000000,4284.444444,2012.0
1225,56.50,0.00,0.0,84.0,55.5,0.00,84.00,55.50,0.00,0.500,...,0.000000,0.000000,0.000000,49.700000,0.700000,98.500,95.800000,96.950000,4420.000000,1987.0
1227,56.50,0.00,0.0,84.0,55.5,0.00,84.00,55.50,0.00,0.500,...,0.000000,0.000000,0.000000,49.700000,0.700000,97.000,91.600000,93.900000,4420.000000,1992.0
1231,56.50,0.00,0.0,84.0,55.5,0.00,84.00,55.50,0.00,0.500,...,0.000000,0.000000,0.000000,49.700000,0.700000,97.700,93.200000,95.100000,4420.000000,1997.0
1234,56.50,0.00,0.0,84.0,55.5,0.00,84.00,55.50,0.00,0.500,...,0.000000,0.000000,0.000000,49.700000,0.700000,98.400,94.800000,96.400000,4420.000000,2002.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,56.50,0.00,0.0,84.0,55.5,0.00,84.00,55.50,0.00,0.500,...,0.000000,0.000000,0.000000,49.700000,0.700000,99.900,98.000000,98.800000,4420.000000,2012.0
1246,56.50,0.00,0.0,84.0,55.5,0.00,84.00,55.50,0.00,0.500,...,0.000000,0.000000,0.000000,39.350000,1.850000,99.750,95.650000,98.300000,4026.285714,2017.0
1576,10.40,5.60,0.0,0.0,0.0,7.60,7.60,10.40,2.80,55.500,...,1.800000,0.000000,0.000000,29.000000,3.000000,99.600,93.300000,97.800000,3632.571429,1992.0
1578,10.40,5.60,0.0,0.0,0.0,7.60,7.60,10.40,2.80,55.500,...,1.800000,0.000000,0.000000,29.000000,3.000000,99.700,95.200000,98.500000,3238.857143,1997.0
1581,10.40,5.60,0.0,0.0,0.0,7.60,7.60,10.40,2.80,55.500,...,1.800000,0.000000,0.000000,29.000000,3.000000,99.800,97.000000,99.100000,2845.142857,2002.0
1584,10.40,5.60,0.0,0.0,0.0,7.60,7.60,10.40,2.80,55.500,...,1.800000,0.000000,0.000000,29.000000,3.000000,99.900,98.900000,99.700000,2451.428571,2007.0
1588,10.40,5.60,0.0,0.0,0.0,7.60,7.60,10.40,2.80,55.500,...,1.800000,0.000000,0.000000,29.000000,3.000000,100.000,100.000000,100.000000,2057.714286,2012.0
2725,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,98.000,84.700000,91.333333,1664.000000,1982.0
2727,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,96.000,69.400000,82.666667,1664.000000,1987.0
2732,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,94.000,54.100000,74.000000,1664.000000,1992.0
2736,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,95.200,56.700000,76.900000,1664.000000,1997.0
2738,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,95.750,58.050000,78.100000,1664.000000,2000.0
2739,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,96.300,59.400000,79.300000,1664.000000,2002.0
2743,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,97.400,62.100000,81.900000,1664.000000,2007.0
2747,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,22.000,...,0.230000,0.030000,0.030000,20.000000,4.000000,98.500,64.800000,84.600000,1664.000000,2012.0
4103,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,97.700,65.466667,84.466667,560.000000,1982.0
4106,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,96.900,66.133333,84.333333,560.000000,1987.0
4109,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,96.100,66.800000,84.200000,560.000000,1992.0
4112,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,97.000,72.800000,87.900000,560.000000,1997.0
4117,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,98.000,78.800000,91.100000,560.000000,2002.0
4121,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,99.000,84.800000,94.100000,560.000000,2007.0
4126,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,3.625000,1.150000,100.000,90.800000,96.900000,560.000000,2012.0
4131,0.42,0.00,0.0,0.0,0.0,0.32,0.32,0.32,0.00,3.100,...,0.177000,0.000000,0.000000,57.812500,7.575000,98.625,87.050000,94.450000,4530.000000,2017.0
4133,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,97.250,83.300000,92.000000,8500.000000,1982.0
4135,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,95.875,79.550000,89.550000,8500.000000,1987.0
4137,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,94.500,75.800000,87.100000,8500.000000,1992.0
4140,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,95.900,81.400000,90.600000,8500.000000,1997.0
4143,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,97.400,87.000000,93.800000,8500.000000,2002.0
4148,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,98.900,92.500000,96.900000,8500.000000,2007.0
4151,-15.40,5.80,18.9,0.0,0.0,1.80,1.80,4.70,2.90,186.000,...,41.220000,11.000000,11.000000,112.000000,14.000000,100.000,98.100000,99.500000,8500.000000,2012.0

In [17]:
filter_fn1 = lambda y: y["Area"] == country and y["Year"] == x - 10
filter_fn2 = lambda y: y["Area"] == country and y["Year"] == x - 5
filter_fn3 = lambda y: y["Area"] == country and y["Year"] == x

all_rows = []
for country in countries:
    for var in variables:
        for x in range(2002, 2017, 5):
            new_row = {"Predicted Year": x, "Country": country, "Variable": var, "Year - 10": goal[goal.apply(filter_fn1, axis=1)].loc[:,var].values[0], "Year - 5": goal[goal.apply(filter_fn2, axis=1)].loc[:,var].values[0], "Predicted Value": goal[goal.apply(filter_fn3, axis=1)].loc[:,var].values[0]}
#             , "x2": goal[goal.apply(filter_fn2, axis=1)][var], "x3":goal[goal.apply(filter_fn3, axis=1)][var
            all_rows.append(new_row)
aqua_training = pd.DataFrame(all_rows)

# goal[goal.apply(lambda y: y["Area"] == "Armenia"  and y["Year"] == 2002, axis=1)].loc[:, "Rural population"].values[0]

In [28]:
aqua_training = aqua_training[['Country', 'Variable', 'Predicted Year', 'Year - 10',
       'Year - 5', 'Predicted Value']]
aqua_training.set_index("Country",inplace=True)
aqua_training
# aqua_training.to_csv('aqua_training.csv')

,Variable,Predicted Year,Year - 10,Year - 5,Predicted Value
Country,,,,,
Armenia,Water resources: total external renewable,2002,0.91,0.91,0.91
Armenia,Water resources: total external renewable,2007,0.91,0.91,0.91
Armenia,Water resources: total external renewable,2012,0.91,0.91,0.91
Armenia,Surface water: total flow of border rivers,2002,1.82,1.82,1.82
Armenia,Surface water: total flow of border rivers,2007,1.82,1.82,1.82
Armenia,Surface water: total flow of border rivers,2012,1.82,1.82,1.82
Armenia,Surface water: outflow to other countries secu...,2002,0,0,0
Armenia,Surface water: outflow to other countries secu...,2007,0,0,0
Armenia,Surface water: outflow to other countries secu...,2012,0,0,0
Armenia,Surface water: inflow submitted to treaties,2002,0,0,0
Armenia,Surface water: inflow submitted to treaties,2007,0,0,0
Armenia,Surface water: inflow submitted to treaties,2012,0,0,0
Armenia,Surface water: inflow secured through treaties,2002,0,0,0
Armenia,Surface water: inflow secured through treaties,2007,0,0,0
Armenia,Surface water: inflow secured through treaties,2012,0,0,0
Armenia,Surface water: inflow not submitted to treaties,2002,0,0,0
Armenia,Surface water: inflow not submitted to treaties,2007,0,0,0
Armenia,Surface water: inflow not submitted to treaties,2012,0,0,0
Armenia,Surface water: entering the country (total),2002,0,0,0
Armenia,Surface water: entering the country (total),2007,0,0,0
Armenia,Surface water: entering the country (total),2012,0,0,0
Armenia,Surface water: accounted inflow,2002,0.91,0.91,0.91
Armenia,Surface water: accounted inflow,2007,0.91,0.91,0.91
Armenia,Surface water: accounted inflow,2012,0.91,0.91,0.91
Armenia,Surface water: accounted flow of border rivers,2002,0.91,0.91,0.91
Armenia,Surface water: accounted flow of border rivers,2007,0.91,0.91,0.91
Armenia,Surface water: accounted flow of border rivers,2012,0.91,0.91,0.91
Armenia,Surface water produced internally,2002,3.948,3.948,3.948
Armenia,Surface water produced internally,2007,3.948,3.948,3.948
Armenia,Surface water produced internally,2012,3.948,3.948,3.948
...,...,...,...,...,...
Cyprus,Surface water: leaving the country to other co...,2002,0,0,0
Cyprus,Surface water: leaving the country to other co...,2007,0,0,0
Cyprus,Surface water: leaving the country to other co...,2012,0,0,0
Cyprus,Surface water: outflow to other countries not ...,2002,0,0,0
Cyprus,Surface water: outflow to other countries not ...,2007,0,0,0
Cyprus,Surface water: outflow to other countries not ...,2012,0,0,0
Cyprus,Groundwater: accounted outflow to other countries,2002,0,0,0
Cyprus,Groundwater: accounted outflow to other countries,2007,0,0,0
Cyprus,Groundwater: accounted outflow to other countries,2012,0,0,0
Cyprus,Groundwater: leaving the country to other coun...,2002,0,0,0
Cyprus,Groundwater: leaving the country to other coun...,2007,0,0,0
Cyprus,Groundwater: leaving the country to other coun...,2012,0,0,0
Cyprus,Total exploitable water resources,2002,0.54,0.54,0.54
Cyprus,Total exploitable water resources,2007,0.54,0.54,0.54
Cyprus,Total exploitable water resources,2012,0.54,0.54,0.54
Cyprus,Exploitable: regular renewable groundwater,2002,0.2,0.2,0.2
Cyprus,Exploitable: regular renewable groundwater,2007,0.2,0.2,0.2
Cyprus,Exploitable: regular renewable groundwater,2012,0.2,0.2,0.2
Cyprus,Urban population with access to safe drinking-...,2002,100,100,100
Cyprus,Urban population with access to safe drinking-...,2007,100,100,100
Cyprus,Urban population with access to safe drinking-...,2012,100,100,100
Cyprus,Rural population with access to safe drinking-...,2002,100,100,100
Cyprus,Rural population with access to safe drinking-...,2007,100,100,100
Cyprus,Rural population with access to safe drinking-...,2012,100,100,100
Cyprus,Total population with access to safe drinking-...,2002,100,100,100
Cyprus,Total population with access to safe drinking-...,2007,100,100,100
Cyprus,Total population with access to safe drinking-...,2012,100,100,100
Cyprus,Irrigation potential,2002,3742.22,3877.78,4013.33
Cyprus,Irrigation potential,2007,3877.78,4013.33,4148.89
Cyprus,Irrigation potential,2012,4013.33,4148.89,4284.44

In [ ]:
clean_df.notna().sum().sort_values(ascending = False)

In [ ]:
yep = clean_df[clean_df['SDG 6.4.2. Water Stress'].notna()][['Area','Year','SDG 6.4.2. Water Stress']]
yep

In [ ]:
plt.figure(figsize=(20,17))
sns.lineplot(x="Year", y="SDG 6.4.2. Water Stress", hue="Area",data=yep)