In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
aqua_training = pd.read_csv('aqua_training.csv')
aqua_training.drop(columns = ['Unnamed: 0'],inplace=True)
aqua_training['Year'] = [2002,2007,2012] * 450
aqua_training = aqua_training.rename(columns={"x1": "Year - 10", "x2": "Year - 5","x3":"Predicted"})
aqua_training = aqua_training[aqua_training["Variable"] != "Area"]

In [3]:
aqua_training

,Country,Variable,Year - 10,Year - 5,Predicted,Year
0,Armenia,Water resources: total external renewable,0.91,0.91,0.91,2002
1,Armenia,Water resources: total external renewable,0.91,0.91,0.91,2007
2,Armenia,Water resources: total external renewable,0.91,0.91,0.91,2012
3,Armenia,Surface water: total flow of border rivers,1.82,1.82,1.82,2002
4,Armenia,Surface water: total flow of border rivers,1.82,1.82,1.82,2007
5,Armenia,Surface water: total flow of border rivers,1.82,1.82,1.82,2012
6,Armenia,Surface water: outflow to other countries secu...,0.0,0.0,0.0,2002
7,Armenia,Surface water: outflow to other countries secu...,0.0,0.0,0.0,2007
8,Armenia,Surface water: outflow to other countries secu...,0.0,0.0,0.0,2012
9,Armenia,Surface water: inflow submitted to treaties,0.0,0.0,0.0,2002
10,Armenia,Surface water: inflow submitted to treaties,0.0,0.0,0.0,2007
11,Armenia,Surface water: inflow submitted to treaties,0.0,0.0,0.0,2012
12,Armenia,Surface water: inflow secured through treaties,0.0,0.0,0.0,2002
13,Armenia,Surface water: inflow secured through treaties,0.0,0.0,0.0,2007
14,Armenia,Surface water: inflow secured through treaties,0.0,0.0,0.0,2012
15,Armenia,Surface water: inflow not submitted to treaties,0.0,0.0,0.0,2002
16,Armenia,Surface water: inflow not submitted to treaties,0.0,0.0,0.0,2007
17,Armenia,Surface water: inflow not submitted to treaties,0.0,0.0,0.0,2012
18,Armenia,Surface water: entering the country (total),0.0,0.0,0.0,2002
19,Armenia,Surface water: entering the country (total),0.0,0.0,0.0,2007
20,Armenia,Surface water: entering the country (total),0.0,0.0,0.0,2012
21,Armenia,Surface water: accounted inflow,0.91,0.91,0.91,2002
22,Armenia,Surface water: accounted inflow,0.91,0.91,0.91,2007
23,Armenia,Surface water: accounted inflow,0.91,0.91,0.91,2012
24,Armenia,Surface water: accounted flow of border rivers,0.91,0.91,0.91,2002
25,Armenia,Surface water: accounted flow of border rivers,0.91,0.91,0.91,2007
26,Armenia,Surface water: accounted flow of border rivers,0.91,0.91,0.91,2012
27,Armenia,Surface water produced internally,3.948,3.948,3.948,2002
28,Armenia,Surface water produced internally,3.948,3.948,3.948,2007
29,Armenia,Surface water produced internally,3.948,3.948,3.948,2012
...,...,...,...,...,...,...
1320,Cyprus,Surface water: leaving the country to other co...,0.0,0.0,0.0,2002
1321,Cyprus,Surface water: leaving the country to other co...,0.0,0.0,0.0,2007
1322,Cyprus,Surface water: leaving the country to other co...,0.0,0.0,0.0,2012
1323,Cyprus,Surface water: outflow to other countries not ...,0.0,0.0,0.0,2002
1324,Cyprus,Surface water: outflow to other countries not ...,0.0,0.0,0.0,2007
1325,Cyprus,Surface water: outflow to other countries not ...,0.0,0.0,0.0,2012
1326,Cyprus,Groundwater: accounted outflow to other countries,0.0,0.0,0.0,2002
1327,Cyprus,Groundwater: accounted outflow to other countries,0.0,0.0,0.0,2007
1328,Cyprus,Groundwater: accounted outflow to other countries,0.0,0.0,0.0,2012
1329,Cyprus,Groundwater: leaving the country to other coun...,0.0,0.0,0.0,2002
1330,Cyprus,Groundwater: leaving the country to other coun...,0.0,0.0,0.0,2007
1331,Cyprus,Groundwater: leaving the country to other coun...,0.0,0.0,0.0,2012
1332,Cyprus,Total exploitable water resources,0.54,0.54,0.54,2002
1333,Cyprus,Total exploitable water resources,0.54,0.54,0.54,2007
1334,Cyprus,Total exploitable water resources,0.54,0.54,0.54,2012
1335,Cyprus,Exploitable: regular renewable groundwater,0.2,0.2,0.2,2002
1336,Cyprus,Exploitable: regular renewable groundwater,0.2,0.2,0.2,2007
1337,Cyprus,Exploitable: regular renewable groundwater,0.2,0.2,0.2,2012
1338,Cyprus,Urban population with access to safe drinking-...,100.0,100.0,100.0,2002
1339,Cyprus,Urban population with access to safe drinking-...,100.0,100.0,100.0,2007
1340,Cyprus,Urban population with access to safe drinking-...,100.0,100.0,100.0,2012
1341,Cyprus,Rural population with access to safe drinking-...,100.0,100.0,100.0,2002
1342,Cyprus,Rural population with access to safe drinking-...,100.0,100.0,100.0,2007
1343,Cyprus,Rural population with access to safe drinking-...,100.0,100.0,100.0,2012
1344,Cyprus,Total population with access to safe drinking-...,100.0,100.0,100.0,2002
1345,Cyprus,Total population with access to safe drinking-...,100.0,100.0,100.0,2007
1346,Cyprus,Total population with access to safe drinking-...,100.0,100.0,100.0,2012
1347,Cyprus,Irrigation potential,3742.222222222222,3877.777777777778,4013.333333333333,2002
1348,Cyprus,Irrigation potential,3877.777777777778,4013.333333333333,4148.888888888889,2007
1349,Cyprus,Irrigation potential,4013.333333333333,4148.888888888889,4284.444444444444,2012

In [4]:
new = aqua_training[aqua_training['Year'] == 2002]
new1 = new.pivot(index = 'Country', columns = 'Variable',values = 'Year - 10')
new2 = new.pivot(index = 'Country', columns = 'Variable',values = 'Year - 5')
ok = pd.concat([new1,new2])
ok

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)",Arable land area,Cultivated area (arable land + permanent crops),Dependency ratio,Environmental Flow Requirements,Exploitable: regular renewable groundwater,GDP per capita,Gross Domestic Product (GDP),Groundwater produced internally,...,Total internal renewable water resources per capita,Total population,Total population with access to safe drinking-water (JMP),Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,3.398,12.13,7562.0,8094.0,3.5989999999999998,4.56,1.9,1766.0,48000000000.0,1.4869999999999999,...,413.9,27181.0,91.7,1.517,10.15,11.67,429.3,14775.0,97.4,0.42
Armenia,16.24,31.04,423.0,483.0,11.71,2.812,1.7692307692307692,369.6,1270000000.0,4.311,...,1992.0,3443.0,90.7,4.311,4.8580000000000005,7.769,2256.0,2307.0,98.1,0.91
Azerbaijan,23.26,28.51,1704.0,2014.0,76.6,12.03,0.9846153846153844,668.0,4990000000.0,6.51,...,1086.0,7472.0,68.9,6.51,32.52,34.68,4641.0,3959.0,85.4,26.56
Cyprus,16.82,5.724,107.6,155.6,0.0,0.0484,0.2,8634.0,6910000000.0,0.41,...,974.3,800.6,100.0,0.41,0.56,0.78,974.3,541.2,100.0,0.0
Egypt,2.992,16.54,2615.0,2996.0,98.26,2.6,0.7,697.2,41900000000.0,0.5,...,16.66,60036.0,93.9,1.5,56.0,57.5,957.8,25223.0,97.0,56.5
Greece,29.87,8.328000000000001,2864.0,3942.0,15.2,18.97,3.0,11099.0,116000000000.0,10.3,...,5550.0,10451.0,97.8,10.3,65.9,68.4,6545.0,7427.0,99.6,10.4
Morocco,21.76,16.19,8934.0,9716.0,0.0,8.167,4.0,1307.0,33700000000.0,10.0,...,1124.0,25791.0,74.0,10.0,22.0,29.0,1124.0,12745.0,94.0,0.0
Tunisia,29.83,18.6,2908.0,4881.0,9.101,0.6767,1.15,1801.0,15500000000.0,1.495,...,487.6,8603.0,84.2,1.595,3.42,4.615,536.4,5062.0,96.1,0.42
Turkey,35.05,15.56,24514.0,27526.0,1.518,76.97,14.0,2834.0,158000000000.0,69.0,...,4072.0,55749.0,87.1,67.8,171.8,211.6,3796.0,33778.0,94.5,-15.4
Algeria,3.426,9.482000000000001,7650.0,8159.0,3.5989999999999998,4.56,1.9,1612.0,48200000000.0,1.4869999999999999,...,376.4,29887.0,90.5,1.517,10.15,11.67,390.5,17462.0,95.0,0.42
Armenia,16.75,31.97,455.0,498.0,11.71,2.812,1.6384615384615384,523.3,1640000000.0,4.311,...,2189.0,3133.0,91.0,4.311,4.8580000000000005,7.769,2480.0,2055.0,98.2,0.91
Azerbaijan,23.81,21.73,1801.0,2062.0,76.6,12.03,0.8538461538461537,500.0,3960000000.0,6.51,...,1024.0,7926.0,71.7,6.51,32.52,34.68,4375.0,4087.0,87.1,26.56
Cyprus,15.25,3.8710000000000004,98.1,141.1,0.0,0.0484,0.2,10665.0,9500000000.0,0.41,...,875.2,891.2,100.0,0.41,0.56,0.78,875.2,608.2,100.0,0.0
Egypt,3.24,16.95,2779.0,3245.0,98.26,2.6,0.7,1186.0,78400000000.0,0.5,...,15.12,66151.0,95.1,1.5,56.0,57.5,869.2,26915.0,97.7,56.5
Greece,29.44,6.922000000000001,2789.0,3885.0,15.2,18.97,3.0,13046.0,143000000000.0,10.3,...,5291.0,10961.0,98.5,10.3,65.9,68.4,6240.0,7839.0,99.7,10.4
Morocco,22.16,16.52,8980.0,9895.0,0.0,8.167,4.0,1407.0,39100000000.0,10.0,...,1042.0,27826.0,76.9,10.0,22.0,29.0,1042.0,14465.0,95.2,0.0
Tunisia,30.05,12.61,2845.0,4917.0,9.101,0.6767,1.15,2211.0,20700000000.0,1.495,...,447.0,9384.0,87.9,1.595,3.42,4.615,491.8,5751.0,97.0,0.42
Turkey,34.21,14.97,24297.0,26864.0,1.518,76.97,14.0,3147.0,190000000000.0,69.0,...,3760.0,60372.0,90.6,67.8,171.8,211.6,3505.0,38143.0,95.9,-15.4

In [33]:
pd.pivot_table(aqua_training, index = ['Country'])

            Year
Country
Algeria     2007
Armenia     2007
Azerbaijan  2007
Cyprus      2007
Egypt       2007
Greece      2007
Morocco     2007
Tunisia     2007
Turkey      2007

In [6]:
from sklearn.linear_model import LinearRegression

In [34]:
countries = ['Algeria', 'Armenia', 'Azerbaijan', 'Cyprus', 'Egypt', 'Greece','Morocco', 'Tunisia', 'Turkey']

In [37]:
def sv_regression(var_name):
    regression_vals = {}
    training = aqua_training[aqua_training["Variable"] == var_name]
    print(training)
    for country in countries:
        #get all x data from the elem
        country_data = df[df["Area"] == country]
        new_training = pd.concat([training, country_data]) 
        X = new_training[["Year - 10", "Year - 5"]]
        y = new_training["Predicted Value"]
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)             
        m = LinearRegression()
        m.fit(X_train, y_train)
        regression_vals[country] = m.predict(X_test)
    return regression_vals

SyntaxError: invalid character in identifier (<ipython-input-37-fb6eeca19ec2>, line 2)

In [30]:
lin_regression('Irrigation potential')

array([299.96061414])