In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
aqua_training = pd.read_csv('aqua_training.csv')
aqua_training = aqua_training.rename(columns={"x1": "Year - 10", "x2": "Year - 5","x3":"Predicted"})
aqua_training = aqua_training[aqua_training["Variable"] != "Area"]

In [7]:
aqua_training

,Country,Variable,Predicted Year,Year - 10,Year - 5,Predicted Value
0,Armenia,Water resources: total external renewable,2002,0.91,0.91,0.91
1,Armenia,Water resources: total external renewable,2007,0.91,0.91,0.91
2,Armenia,Water resources: total external renewable,2012,0.91,0.91,0.91
3,Armenia,Surface water: total flow of border rivers,2002,1.82,1.82,1.82
4,Armenia,Surface water: total flow of border rivers,2007,1.82,1.82,1.82
5,Armenia,Surface water: total flow of border rivers,2012,1.82,1.82,1.82
6,Armenia,Surface water: outflow to other countries secu...,2002,0.0,0.0,0.0
7,Armenia,Surface water: outflow to other countries secu...,2007,0.0,0.0,0.0
8,Armenia,Surface water: outflow to other countries secu...,2012,0.0,0.0,0.0
9,Armenia,Surface water: inflow submitted to treaties,2002,0.0,0.0,0.0
10,Armenia,Surface water: inflow submitted to treaties,2007,0.0,0.0,0.0
11,Armenia,Surface water: inflow submitted to treaties,2012,0.0,0.0,0.0
12,Armenia,Surface water: inflow secured through treaties,2002,0.0,0.0,0.0
13,Armenia,Surface water: inflow secured through treaties,2007,0.0,0.0,0.0
14,Armenia,Surface water: inflow secured through treaties,2012,0.0,0.0,0.0
15,Armenia,Surface water: inflow not submitted to treaties,2002,0.0,0.0,0.0
16,Armenia,Surface water: inflow not submitted to treaties,2007,0.0,0.0,0.0
17,Armenia,Surface water: inflow not submitted to treaties,2012,0.0,0.0,0.0
18,Armenia,Surface water: entering the country (total),2002,0.0,0.0,0.0
19,Armenia,Surface water: entering the country (total),2007,0.0,0.0,0.0
20,Armenia,Surface water: entering the country (total),2012,0.0,0.0,0.0
21,Armenia,Surface water: accounted inflow,2002,0.91,0.91,0.91
22,Armenia,Surface water: accounted inflow,2007,0.91,0.91,0.91
23,Armenia,Surface water: accounted inflow,2012,0.91,0.91,0.91
24,Armenia,Surface water: accounted flow of border rivers,2002,0.91,0.91,0.91
25,Armenia,Surface water: accounted flow of border rivers,2007,0.91,0.91,0.91
26,Armenia,Surface water: accounted flow of border rivers,2012,0.91,0.91,0.91
27,Armenia,Surface water produced internally,2002,3.948,3.948,3.948
28,Armenia,Surface water produced internally,2007,3.948,3.948,3.948
29,Armenia,Surface water produced internally,2012,3.948,3.948,3.948
...,...,...,...,...,...,...
1320,Cyprus,Surface water: leaving the country to other co...,2002,0.0,0.0,0.0
1321,Cyprus,Surface water: leaving the country to other co...,2007,0.0,0.0,0.0
1322,Cyprus,Surface water: leaving the country to other co...,2012,0.0,0.0,0.0
1323,Cyprus,Surface water: outflow to other countries not ...,2002,0.0,0.0,0.0
1324,Cyprus,Surface water: outflow to other countries not ...,2007,0.0,0.0,0.0
1325,Cyprus,Surface water: outflow to other countries not ...,2012,0.0,0.0,0.0
1326,Cyprus,Groundwater: accounted outflow to other countries,2002,0.0,0.0,0.0
1327,Cyprus,Groundwater: accounted outflow to other countries,2007,0.0,0.0,0.0
1328,Cyprus,Groundwater: accounted outflow to other countries,2012,0.0,0.0,0.0
1329,Cyprus,Groundwater: leaving the country to other coun...,2002,0.0,0.0,0.0
1330,Cyprus,Groundwater: leaving the country to other coun...,2007,0.0,0.0,0.0
1331,Cyprus,Groundwater: leaving the country to other coun...,2012,0.0,0.0,0.0
1332,Cyprus,Total exploitable water resources,2002,0.54,0.54,0.54
1333,Cyprus,Total exploitable water resources,2007,0.54,0.54,0.54
1334,Cyprus,Total exploitable water resources,2012,0.54,0.54,0.54
1335,Cyprus,Exploitable: regular renewable groundwater,2002,0.2,0.2,0.2
1336,Cyprus,Exploitable: regular renewable groundwater,2007,0.2,0.2,0.2
1337,Cyprus,Exploitable: regular renewable groundwater,2012,0.2,0.2,0.2
1338,Cyprus,Urban population with access to safe drinking-...,2002,100.0,100.0,100.0
1339,Cyprus,Urban population with access to safe drinking-...,2007,100.0,100.0,100.0
1340,Cyprus,Urban population with access to safe drinking-...,2012,100.0,100.0,100.0
1341,Cyprus,Rural population with access to safe drinking-...,2002,100.0,100.0,100.0
1342,Cyprus,Rural population with access to safe drinking-...,2007,100.0,100.0,100.0
1343,Cyprus,Rural population with access to safe drinking-...,2012,100.0,100.0,100.0
1344,Cyprus,Total population with access to safe drinking-...,2002,100.0,100.0,100.0
1345,Cyprus,Total population with access to safe drinking-...,2007,100.0,100.0,100.0
1346,Cyprus,Total population with access to safe drinking-...,2012,100.0,100.0,100.0
1347,Cyprus,Irrigation potential,2002,3742.222222222222,3877.777777777778,4013.333333333333
1348,Cyprus,Irrigation potential,2007,3877.777777777778,4013.333333333333,4148.888888888889
1349,Cyprus,Irrigation potential,2012,4013.333333333333,4148.888888888889,4284.444444444444

In [9]:
new = aqua_training[aqua_training['Predicted Year'] == 2002]
new1 = new.pivot(index = 'Country', columns = 'Variable',values = 'Year - 10')
new2 = new.pivot(index = 'Country', columns = 'Variable',values = 'Year - 5')
ok = pd.concat([new1,new2])
ok

Variable,% of total country area cultivated,"Agriculture, value added (% GDP)",Arable land area,Cultivated area (arable land + permanent crops),Dependency ratio,Environmental Flow Requirements,Exploitable: regular renewable groundwater,GDP per capita,Gross Domestic Product (GDP),Groundwater produced internally,...,Total internal renewable water resources per capita,Total population,Total population with access to safe drinking-water (JMP),Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,3.398,12.13,7562.0,8094.0,3.5989999999999998,4.56,1.9,1766.0,48000000000.0,1.4869999999999999,...,413.9,27181.0,91.7,1.517,10.15,11.67,429.3,14775.0,97.4,0.42
Armenia,16.24,31.04,423.0,483.0,11.71,2.812,1.7692307692307692,369.6,1270000000.0,4.311,...,1992.0,3443.0,90.7,4.311,4.8580000000000005,7.769,2256.0,2307.0,98.1,0.91
Azerbaijan,23.26,28.51,1704.0,2014.0,76.6,12.03,0.9846153846153844,668.0,4990000000.0,6.51,...,1086.0,7472.0,68.9,6.51,32.52,34.68,4641.0,3959.0,85.4,26.56
Cyprus,16.82,5.724,107.6,155.6,0.0,0.0484,0.2,8634.0,6910000000.0,0.41,...,974.3,800.6,100.0,0.41,0.56,0.78,974.3,541.2,100.0,0.0
Egypt,2.992,16.54,2615.0,2996.0,98.26,2.6,0.7,697.2,41900000000.0,0.5,...,16.66,60036.0,93.9,1.5,56.0,57.5,957.8,25223.0,97.0,56.5
Greece,29.87,8.328000000000001,2864.0,3942.0,15.2,18.97,3.0,11099.0,116000000000.0,10.3,...,5550.0,10451.0,97.8,10.3,65.9,68.4,6545.0,7427.0,99.6,10.4
Morocco,21.76,16.19,8934.0,9716.0,0.0,8.167,4.0,1307.0,33700000000.0,10.0,...,1124.0,25791.0,74.0,10.0,22.0,29.0,1124.0,12745.0,94.0,0.0
Tunisia,29.83,18.6,2908.0,4881.0,9.101,0.6767,1.15,1801.0,15500000000.0,1.495,...,487.6,8603.0,84.2,1.595,3.42,4.615,536.4,5062.0,96.1,0.42
Turkey,35.05,15.56,24514.0,27526.0,1.518,76.97,14.0,2834.0,158000000000.0,69.0,...,4072.0,55749.0,87.1,67.8,171.8,211.6,3796.0,33778.0,94.5,-15.4
Algeria,3.426,9.482000000000001,7650.0,8159.0,3.5989999999999998,4.56,1.9,1612.0,48200000000.0,1.4869999999999999,...,376.4,29887.0,90.5,1.517,10.15,11.67,390.5,17462.0,95.0,0.42
Armenia,16.75,31.97,455.0,498.0,11.71,2.812,1.6384615384615384,523.3,1640000000.0,4.311,...,2189.0,3133.0,91.0,4.311,4.8580000000000005,7.769,2480.0,2055.0,98.2,0.91
Azerbaijan,23.81,21.73,1801.0,2062.0,76.6,12.03,0.8538461538461537,500.0,3960000000.0,6.51,...,1024.0,7926.0,71.7,6.51,32.52,34.68,4375.0,4087.0,87.1,26.56
Cyprus,15.25,3.8710000000000004,98.1,141.1,0.0,0.0484,0.2,10665.0,9500000000.0,0.41,...,875.2,891.2,100.0,0.41,0.56,0.78,875.2,608.2,100.0,0.0
Egypt,3.24,16.95,2779.0,3245.0,98.26,2.6,0.7,1186.0,78400000000.0,0.5,...,15.12,66151.0,95.1,1.5,56.0,57.5,869.2,26915.0,97.7,56.5
Greece,29.44,6.922000000000001,2789.0,3885.0,15.2,18.97,3.0,13046.0,143000000000.0,10.3,...,5291.0,10961.0,98.5,10.3,65.9,68.4,6240.0,7839.0,99.7,10.4
Morocco,22.16,16.52,8980.0,9895.0,0.0,8.167,4.0,1407.0,39100000000.0,10.0,...,1042.0,27826.0,76.9,10.0,22.0,29.0,1042.0,14465.0,95.2,0.0
Tunisia,30.05,12.61,2845.0,4917.0,9.101,0.6767,1.15,2211.0,20700000000.0,1.495,...,447.0,9384.0,87.9,1.595,3.42,4.615,491.8,5751.0,97.0,0.42
Turkey,34.21,14.97,24297.0,26864.0,1.518,76.97,14.0,3147.0,190000000000.0,69.0,...,3760.0,60372.0,90.6,67.8,171.8,211.6,3505.0,38143.0,95.9,-15.4

In [10]:
pd.pivot_table(aqua_training, index = ['Country'])

            Predicted Year
Country
Algeria               2007
Armenia               2007
Azerbaijan            2007
Cyprus                2007
Egypt                 2007
Greece                2007
Morocco               2007
Tunisia               2007
Turkey                2007

In [80]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import normalize

In [81]:
countries = ['Algeria', 'Armenia', 'Azerbaijan', 'Cyprus', 'Egypt', 'Greece','Morocco', 'Tunisia', 'Turkey']

In [84]:
df = aqua_training
def lin_regression(var_name):
    regression_vals = {}
    training = df[df["Variable"] == var_name]
    for country in countries:
        #get all x data from the elem
        country_data = df[df["Country"] == country]
        new_training = pd.concat([training, country_data]) 
        X = new_training[["Year - 10", "Year - 5"]]
        y = new_training["Predicted Value"]
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
        m = LinearRegression()
        m.fit(X_train, y_train)
        regression_vals[country] = m.predict(X_test)
        print(mean_squared_error(m.predict(X_test),y_test))
    return regression_vals

In [85]:
lin_regression('Irrigation potential')

1.4608975767018378e+20
6.719871291128453e+17
3.0540667480143282e+19
8.730571989897242e+17
3.5658932468842935e+20
2.444523801417138e+20
2.075554013829519e+19
1.1850780331835917e+18
2.6592101039662883e+21

{'Algeria': array([-1.17722788e+04, -1.17716914e+04, -1.08167659e+04,  1.00463790e+04,
        -1.17479945e+04, -1.17421006e+04, -1.17715045e+04,  2.88159690e+01,
         9.88602905e+03, -1.17725458e+04, -1.07857470e+04, -1.17412452e+04,
        -1.17715045e+04, -1.17725458e+04, -1.17725458e+04, -8.30155704e+03,
        -1.08510828e+04, -1.17464867e+04, -1.68144118e+03, -1.17722788e+04,
        -9.82089541e+03, -1.15475182e+04,  1.02723315e+04, -1.17714244e+04,
        -1.17464867e+04, -1.17725458e+04, -1.17454454e+04,  1.09223807e+04,
         2.88159690e+01, -1.17724657e+04, -1.17725458e+04,  1.09223807e+04,
        -1.02773506e+04, -1.17725458e+04,  1.28306234e+11]),
 'Armenia': array([-3.27497114e+03, -3.24463074e+03,  1.16197348e+04, -3.67398597e+02,
        -3.12128214e+03, -3.09482825e+03, -3.27542719e+03,  2.25049345e+04,
        -4.65459239e+02, -3.26726147e+03,  9.45767266e+03, -2.59495993e+03,
        -3.27542719e+03, -3.27011947e+03, -3.26481175e+03,  4.30703212e+03,
         9.87474132e+03, -3.25239985e+03,  1.84865537e+04, -3.27492996e+03,
        -3.07410017e+03, -2.82811811e+03, -4.18845999e+02, -3.27011947e+03,
        -3.25239985e+03, -3.27542719e+03, -3.24709213e+03,  4.63021914e+04,
         2.25049345e+04, -3.27542719e+03, -3.26481175e+03,  4.63021914e+04,
        -9.13702758e+00, -3.26726147e+03,  7.22969582e+09]),
 'Azerbaijan': array([-7.78464573e+03, -7.74944514e+03,  2.53695685e+04,  8.60715758e+03,
        -7.67010212e+03, -7.56307244e+03, -7.58313316e+03,  2.73507529e+04,
         8.25900986e+03, -7.75030566e+03,  3.24137748e+02, -7.09529898e+03,
        -7.62780788e+03, -7.77550475e+03, -7.76612465e+03,  2.54912625e+03,
        -2.71415129e+01, -7.73754713e+03,  2.20593116e+04, -7.78458458e+03,
        -5.99000486e+03, -7.34088388e+03,  8.62577143e+03, -7.57375306e+03,
        -7.73754713e+03, -7.78488485e+03, -7.52637559e+03,  5.97836493e+04,
         2.73507529e+04, -7.78488485e+03, -7.76612465e+03,  5.97836493e+04,
        -3.33331084e+03, -7.75030566e+03,  3.89343934e+10]),
 'Cyprus': array([-1.00742990e+03, -1.00742990e+03,  1.05383411e+03, -6.46173860e+02,
        -9.97825628e+02, -9.92207815e+02, -1.00742990e+03,  1.02879246e+04,
        -6.05141702e+02, -1.00694435e+03,  1.25378588e+03, -7.89393823e+02,
        -1.00742990e+03, -1.00742990e+03, -1.00742990e+03,  2.31473318e+03,
         1.05383411e+03, -1.00599881e+03,  8.51237761e+03, -1.00742990e+03,
        -9.06642392e+02, -7.51878892e+02, -6.54234706e+02, -1.00742990e+03,
        -1.00599881e+03, -1.00742990e+03, -1.00599881e+03,  2.07144056e+04,
         1.02879246e+04, -1.00742990e+03, -1.00742990e+03,  2.07144056e+04,
         4.23655736e+02, -1.00694435e+03,  1.68278388e+10]),
 'Egypt': array([-1.45484928e+03, -1.45484928e+03, -8.25527999e+02,  3.03873471e+03,
        -1.44571467e+03, -1.43402578e+03, -1.45484928e+03,  3.65606543e+03,
         3.04072165e+03, -1.45484928e+03, -1.44291549e+03, -1.36022320e+03,
        -1.35771877e+03, -1.45484928e+03, -1.45484928e+03,  4.83609292e+01,
        -1.44392655e+03, -1.45427112e+03,  3.43375253e+03, -1.45484928e+03,
         1.12223305e+03, -1.34045417e+03,  2.97651350e+03, -1.38951745e+03,
        -1.45427112e+03, -1.39067377e+03, -1.39009561e+03,  8.37383286e+03,
         3.65606543e+03, -1.45369297e+03, -1.45484928e+03,  8.37383286e+03,
        -8.07312575e+02, -1.45484928e+03,  1.99616724e+11]),
 'Greece': array([-1.95915592e+03, -1.95506534e+03,  1.19546037e+04,  6.89440035e+03,
        -1.94508835e+03, -1.93933881e+03, -1.94188459e+03,  8.08548611e+03,
         7.03534685e+03, -1.94143008e+03,  1.01409483e+04, -1.78161761e+03,
        -1.94188459e+03, -1.95279280e+03, -1.94642967e+03,  9.95150563e+02,
         9.83971427e+03, -1.83302976e+03,  6.45926801e+03, -1.95915592e+03,
         6.03375765e+02, -1.74395093e+03,  6.87297236e+03, -1.93552147e+03,
        -1.83302976e+03, -1.95915592e+03, -1.80939530e+03,  1.73574634e+04,
         8.08548611e+03, -1.95915592e+03, -1.94642967e+03,  1.73574634e+04,
        -6.86531587e+02, -1.94143008e+03,  2.46497748e+11]),
 'Morocco': array([-2.72479644e+03, -2.72439853e+03, -7.90753763e+02,  1.67234007e+04,
        -2.69645575e+03, -2.69251648e+03, -2.72485613e+03,  6.06902015e+03,
         1.66755086e+04, -2.71888743e+03, -6.74837898e+02, -2.60816581e+03,
        -2.72485613e+03, -2.72485613e+03, -2.72485613e+03, -1.38421929e+02,
        -7.90753763e+02, -2.68108570e+03,  4.77336119e+03, -2.72479644e+03,
        -9.66593992e+02, -2.61099566e+03,  1.56184057e+04, -2.72485613e+03,
        -2.68108570e+03, -2.72485613e+03, -2.68108570e+03,  1.41864444e+04,
         6.06902015e+03, -2.72485613e+03, -2.72485613e+03,  1.41864444e+04,
        -1.61069986e+03, -2.71888743e+03,  6.91526233e+10]),
 'Tunisia': array([-1.07499613e+03, -1.07469770e+03, -2.04677720e+02,  8.09500026e+03,
        -1.05759250e+03, -1.04102955e+03, -1.07439927e+03,  7.16909659e+03,
         8.03330609e+03, -1.07425006e+03, -2.43890176e+02, -9.76345847e+02,
        -1.07439927e+03, -1.07499613e+03, -1.07499613e+03,  1.34973702e+03,
        -2.83904152e+02, -1.06921407e+03,  5.92134364e+03, -1.07499613e+03,
         2.91876766e+03, -9.38484103e+02,  8.08257548e+03, -1.07421276e+03,
        -1.06921407e+03, -1.07499613e+03, -1.06861722e+03,  1.47790283e+04,
         7.16909659e+03, -1.07480961e+03, -1.07499613e+03,  1.47790283e+04,
        -3.04956961e+01, -1.07425006e+03,  2.95403207e+10]),
 'Turkey': array([-1.32516861e+04, -1.30842833e+04, -2.21732482e+03,  7.82677988e+04,
        -1.32492274e+04, -1.32361382e+04, -1.32830400e+04,  1.77434502e+03,
         8.05285377e+04, -1.31937495e+04, -4.71589450e+02, -1.30473100e+04,
        -1.32830400e+04, -1.32792912e+04, -1.32694079e+04, -8.85872756e+03,
        -1.40943649e+03, -1.26552798e+04, -5.37206951e+02, -1.32516861e+04,
        -4.48337089e+03, -1.30118289e+04,  7.73137350e+04, -1.33416582e+04,
        -1.26552798e+04, -1.32891745e+04, -1.27036739e+04,  1.56791323e+04,
         1.77434502e+03, -1.32932641e+04, -1.32694079e+04,  1.56791323e+04,
        -1.13806743e+04, -1.31937495e+04,  5.38077619e+11])}